@mixin RobotoMono {
  font-family: 'Roboto Mono', monospace;
}

@mixin transition($transition-event, $time) {
  transition: #{$transition-event $time};
}

@mixin fontSize($fz, $lh){
  font-size: #{$fz}rem;
  line-height: #{$lh};
}

@mixin iconEqualSize($size){
  width: #{$size}px;
  height: #{$size}px;
}